<!DOCTYPE html>
<html>
<head>
    <title>Churn Prediction Result</title>
    <style>
        .button {
            padding: 10px 20px;
            background-color: #4285f4;
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h2>Churn Prediction Result</h2>

    <!-- Tombol di posisi atas sejajar kanan kiri -->
    <div class="button-container">
        <a href="{{ url_for('plot') }}" class="button">View Prediction Distribution Plot</a>
        <a href="/" class="button">Upload Another File</a>
    </div>

    <!-- Tabel hasil prediksi -->
    <div>
        {{ data|safe }}
    </div>
</body>
</html>
